@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e3f2fd;
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px 25px;
  border-radius: 6px;
  background: #4a98f7;
  transition: all 0.2s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn.timer {
  color: #000;
  background: none;
  transition: none;
  font-size: 18px;
  pointer-events: none;
  box-shadow: none;
  transition: none;
}

.btn[disabled] {
  cursor: not-allowed;
}

.btn:hover {
  background: #2382f6;
}

.btn:active {
  transform: scale(0.9);
}

.icon {
  font-size: 26px;
}

.text {
  font-size: 18px;
  text-transform: capitalize;
  padding-left: 10px;
}

.btn.timer b {
  color: #4a98f7;
  padding: 0 8px;
}
