.progress {
  position: fixed;
  bottom: 20px;
  right: -100px;
  height: 70px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  z-index: 3;
}
.progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #8490ff;
}

.progress i {
  animation: Arr_anim 1s infinite ease-in-out;
}

.go_top {
  right: 10px;
}

@keyframes Arr_anim {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-3px);
  }
}

@media (max-width: 600px) {
  .progress {
    height: 55px;
    width: 55px;
  }
  .progress-value {
    font-size: 27px;
  }
}
@media (max-width: 450px) {
  .progress {
    height: 50px;
    width: 50px;
  }
  .progress-value {
    font-size: 25px;
  }
}
