@media (max-width: 1200px) {
    .container {
      width: 85%;
    }
  }
  
  /* todo : Hide scroll bar */
  
  @media (max-width: 600px) {
    ::-webkit-scrollbar {
      width: 0px !important;
    }
  }
  
  /* todo : Section gap */
  
  @media (max-width: 750px) {
    .section_gap {
      padding: 80px 0px;
    }
  }
  @media (max-width: 300px) {
    .section_gap {
      padding: 50px 0px;
    }
  }
  /* todo : Paragraph tag */
  
  @media (max-width: 550px) {
    p {
      font-size: 13px;
    }
  }
  
  /* todo: Strange Part */
  
  @media (max-width: 950px) {
    .strange {
      width: 65%;
    }
  
    .strange h1 {
      font-size: 34px;
    }
  }
  @media (max-width: 650px) {
    .strange {
      width: 70%;
    }
  
    .strange h1 {
      font-size: 32px;
    }
  }
  @media (max-width: 550px) {
    .strange {
      width: 90%;
    }
  
    .strange h1 {
      font-size: 30px;
    }
  }
  @media (max-width: 350px) {
    .strange {
      width: 100%;
    }
  
    .strange h1 {
      font-size: 26px;
    }
    .strange p {
      width: 95%;
    }
  }