/* todo: Map */

#map_sec {
  background: #fefefe;
}

.map {
  width: 85%;
  margin: auto;
}

.map iframe {
  width: 100%;
  height: 360px;
}

/* ! Map responsive */

@media (max-width: 750px) {
  .map iframe {
    height: 300px;
  }
}

@media (max-width: 650px) {
  .map {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .map {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .map iframe {
    height: 240px;
  }
}

@media (max-width: 300px) {
  .map iframe {
    height: 210px;
  }
}

/* todo: Contact Form Section */

#contact_us_section {
  background: #f9f9ff;
}

.contact_wrapper {
  flex-wrap: wrap;
}

.contact_first {
  width: 40%;
}

.contact_unit {
  margin-bottom: 20px;
  line-height: 26px;
}

.contact_unit h5 {
  font-size: 16px;
  font-weight: 400;
}

.contact_unit p {
  width: 100%;
}

.contact_icon {
  width: 18%;
  font-size: 30px;
  color: #8490ff;
  text-align: left;
}

.contact_details {
  width: 80%;
}

.contact_last {
  width: 56%;
}

.contact_last form {
  width: 100%;
}

.form_part {
  flex-wrap: wrap;
  width: 100%;
}

.form_part div {
  width: 48%;
}

.first_part_form input {
  margin-bottom: 15px;
}

.first_part_form input,
.last_part_form textarea {
  width: 100%;
  padding: 14px 20px;
  border: 1px solid #ced4da;
  outline: none;
}

.last_part_form textarea {
  height: 182px;
  margin-bottom: 10px;
  resize: none;
}

.last_part_form textarea::-webkit-scrollbar {
  width: 3px;
}

.form_btn {
  width: 100%;
}

.form_btn button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 30px;
  float: right;
  outline: none;
  cursor: pointer;
  background: #8490ff;
  border: 1px solid #8490ff;
  color: #fff;
  transition: 0.3s ease-in-out;
  word-spacing: 4px;
}

.form_btn button:hover {
  background: transparent;
  color: #8490ff;
}

/* ! Responsive Contact Form Section */

@media (max-width: 950px) {
  .contact_first,
  .contact_last {
    width: 85%;
  }

  .contact_first {
    padding-bottom: 35px;
  }
}

@media (max-width: 950px) {
  .contact_first,
  .contact_last {
    width: 95%;
  }
}

@media (max-width: 600px) {
  .contact_first,
  .contact_last {
    width: 85%;
    margin: auto;
  }

  .form_part div {
    width: 100%;
  }

  .last_part_form textarea {
    height: 140px;
  }

  .contact_icon {
    width: 18%;
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .contact_first,
  .contact_last {
    width: 95%;
  }
}

@media (max-width: 300px) {
  .contact_unit h5 {
    font-size: 14px;
    font-weight: 400;
  }
}
