@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200;300;400;500;600;700;800;900&display=swap");

/*font-family: 'Poppins',sans-serif;*/

/* font-family: 'Cairo Play', cursive; */
.container {
  width: 1140px;
  margin: auto;
}

.wrapper {
  width: 100%;
}

a {
  text-decoration: none;
}

.section_gap {
  padding: 120px 0px;
}

p {
  font-size: 14px;
  text-align: justify;
  color: #777;
  width: 90%;
}

li {
  list-style: none;
}

.sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Todo: Navigation */

header {
  background: #fefefe;
  width: 100%;
  position: fixed;
  transition: all 0.2s ease-in-out;
}

header.sticky {
  box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%);
  z-index: 25;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.logo {
  width: 20%;
}

.logo img {
  width: 133px;
  height: 37px;
  object-fit: cover;
  cursor: pointer;
}

.navLinks {
  width: 65%;
}

.links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.links li {
  list-style: none;
  width: 11.25%;
  margin: 0px 5px;
  transition: 0.3s;
  position: relative;
  height: 80px;
  top: 28px;
}
.links li:nth-child(4) {
  margin: 0px 25px;
}

.links li a {
  color: #222;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  font-size: 14px;
  transition: 0.3s;
}
.links li a i {
  padding-left: 9px;
  font-size: 14px;
}

.links li:hover > a {
  color: #8490ff;
}
.links li .active_nav {
  color: #8490ff;
}

.submenu {
  position: absolute;
  background: #fff;
  top: 50px;
  left: -22px;
  width: 160px;
  z-index: 111;
  display: none;
  transition: all 0.3s !important;
  box-shadow: 0 0 30px rgb(127 137 161 / 25%);
  border-radius: 5px;
}
.submenu li {
  width: 100% !important;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 20px !important;
  height: 50px;
  top: 0px;
}
.submenu li:last-child {
  padding: 0px 0px 10px 0px;
}
.submenu li a {
  text-transform: capitalize;
  font-size: 13px;
  word-spacing: 5px;
}

.submenu_blog:hover > .head_sub {
  color: #8490ff !important;
}
.submenu_pages:hover > .head_sub2 {
  color: #8490ff !important;
}

.links li:hover > ul {
  display: block;
  transition: all 0.3s;
}

.submenu li a i {
  padding-left: 4px;
}

.submenu_level2 {
  top: 5px;
  left: -178px;
  width: 160px;
  display: none;
  transition: all 0.3s !important;
}

/* ! For Switch */

.nav-control {
  width: 20%;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 6px;
  background: #000;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease-in-out;
  left: 0;
}

.top {
  top: 19px;
}

.middle {
  top: 7px;
  width: 30px !important;
}

.bottom {
  bottom: 0px;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
  top: -16px;
  background: #a52a2a;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  top: 17px;
  background: #a52a2a;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

/* Todo: Responsive Navigation */
@media (max-width: 1200px) {
  .navLinks {
    width: 75%;
  }
  .links li {
    width: 13%;
    margin: 0px 5px;
  }
}
@media (max-width: 1100px) {
  .navigation {
    padding: 0px 0px !important;
  }
  .logo {
    width: 15%;
  }
  .navLinks {
    width: 80%;
  }
  .links li {
    width: 13%;
    margin: 0px 0px;
  }
}
@media (max-width: 1000px) {
  .nav-control {
    display: block;
  }

  .navLinks {
    display: block;
    position: fixed;
    width: 300px !important;
    top: 64px;
    left: -100%;
    transition: all 0.5s ease;
  }

  .links::-webkit-scrollbar {
    width: 0px;
  }

  .links {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    height: 100vh;
    z-index: 100;
  }

  .links li {
    display: block;
    width: 100%;
    height: auto;
    line-height: 40px;
    padding-left: 30px !important;
  }

  .links li:nth-child(4) {
    margin: 0px 0px;
  }

  .links li a {
    display: block;
    width: 75%;
    color: #fff;
  }
  .links li:last-child {
    margin-bottom: 250px;
  }

  .links li a i {
    transition: 0.3s ease-in-out;
    float: right;
    text-align: center;
    padding-top: 9px;
  }

  .links li:hover .submenu {
    display: none;
  }

  .navigation .navLinks .links .submenu {
    display: none;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: none;
    background: transparent;
  }
  .submenu li {
    position: relative;
    line-height: 30px;
    padding-left: 8px !important;
  }

  .submenu_blog {
    top: -12px;
  }
  .submenu_pages {
    top: -12px;
  }

  .submenu_level2 {
    width: 130px;
  }

  .submenu_level2 li {
    padding-left: 0px !important;
  }

  .sub3 i {
    padding-top: 6px;
  }

  .rotate {
    transform: rotateX(180deg);
    margin-top: 9px;
  }

  .rotate2 {
    transform: rotate(90deg);
  }

  .sub_show {
    display: block !important;
  }

  .show_nav {
    left: 0px;
  }
  .logo {
    padding: 10px 0px;
  }
}

@media (max-width: 400px) {
  .navLinks {
    width: 100% !important;
  }

  .links li {
    padding: 0px 55px !important;
  }

  .submenu li {
    padding: 10px 8px !important;
  }

  /* .navLinks {
    top: 75px;
    top: 64px;
  } */

  .logo {
    padding: 10px 0px;
  }

  .logo img {
    width: 118px;
  }

  .bar span {
    width: 40px;
    height: 4px;
  }
}

/* todo: Footer */

footer {
  background: #04091e;
}

footer h4 {
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
}

.footer_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_first {
  width: 44%;
}

.footer_first a {
  color: #8490ff;
}

.footer_middle {
  width: 40%;
}

.footer_middle button,
.footer_middle input {
  padding: 14px 16px;
  border: none;
  outline: none;
}

.footer_middle input {
  width: 80%;
}

.footer_middle button {
  cursor: pointer;
  width: 10%;
  font-size: 14px;
  background: #8490ff;
  color: #fff;
}

.footer_last {
  width: 16%;
}

footer p {
  margin: 16px 0px;
  line-height: 26px;
}

.foot_form {
  display: flex;
}

.foot_icons {
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot_icons a {
  color: #fff;
  font-size: 14px;
  width: 25%;
}

/* ! Footer responsive */

@media (max-width: 1140px) {
  .footer_first {
    width: 49%;
  }

  .footer_middle {
    width: 49%;
  }

  .footer_wrapper div:not(:last-child) {
    margin-bottom: 35px;
  }

  .foot_icons {
    width: 78%;
  }
}

@media (max-width: 1000px) {
  .foot_icons {
    width: 90%;
  }
}

@media (max-width: 950px) {
  .footer_middle input {
    width: 78%;
  }

  .footer_middle button {
    width: 14%;
  }
}

@media (max-width: 900px) {
  .footer_last {
    width: 20%;
  }
}

@media (max-width: 750px) {
  .footer_last {
    width: 24%;
  }

  .footer_first {
    width: 49.5%;
  }

  .footer_middle {
    width: 49.5%;
  }
}

@media (max-width: 650px) {
  .footer_wrapper div {
    width: 85%;
    margin: auto;
  }

  .foot_icons {
    width: 28% !important;
    margin: 0px !important;
  }
}

@media (max-width: 550px) {
  .foot_icons {
    width: 35% !important;
  }
}

@media (max-width: 450px) {
  .foot_icons {
    width: 40% !important;
  }

  .footer_middle input {
    width: 80%;
  }

  .footer_middle button {
    width: 16%;
  }
}

@media (max-width: 350px) {
  .footer_wrapper div {
    width: 95%;
  }

  footer p {
    width: 100%;
  }

  .foot_icons {
    width: 50% !important;
  }

  .footer_middle input {
    width: 80%;
  }

  .footer_middle button {
    width: 18%;
  }
}

@media (max-width: 300px) {
  .foot_icons {
    width: 60% !important;
  }
}
