/*todo: Pricing Section */

.price_wrapper {
  width: 100%;
  flex-wrap: wrap;
}

.single_price_box {
  width: 24%;
  background: #f9f9ff;
  padding: 35px 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
}

.single_price_box:hover {
    background:linear-gradient(122deg,#8490ff 0%,#62bdfc 100%);
  color: #fff !important;
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}

.price_basic {
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #77777742;
}

.price_basic h1 {
  width: 140px;
  height: 140px;
  margin: auto;
  font-size: 36px;
  font-weight: 300;
  background-color: #8490ff1a;
  border: 30px solid #8490ff1a;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.price_basic h4 {
  margin: 20px 0px 12px 0px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}

.single_price_box .price_basic p {
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.single_price_box:hover p {
  color: #fff;
}

.single_price_box:hover .price_basic h1 {
  color: #fff;
  border-color: #ffffff36;
  background-color: #ffffff1a;
}

.price_facilities {
  padding: 0px 0px 35px 0px;
}

.price_facilities ul {
  width: 100%;
}

.price_facilities ul li {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid #77777742;
  color: #777;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.single_price_box:hover .price_facilities ul li {
  color: #fff;
}

.price_amount_and_buy {
  width: 100%;
  text-align: center;
}

.price_amount_and_buy h1 {
  font-size: 36px;
  font-weight: 600;
  color: #222222;
  display: block;
  transition: all 0.2s ease-in-out;
}

.single_price_box:hover .price_amount_and_buy h1 {
  display: none;
}

.price_amount_and_buy a {
  transition: all 0.2s ease-in-out;
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
  padding: 14px 50px;
  font-weight: 600;
  text-transform: capitalize;
  display: none;
}

.single_price_box:hover .price_amount_and_buy a {
  display: block;
}

/*todo: Pricing Section Responsive */

@media (max-width: 1100px) {
  .single_price_box {
    width: 48%;
  }
}

@media (max-width: 650px) {
  .single_price_box {
    width: 49%;
  }

  .price_amount_and_buy h1 {
    font-size: 30px;
  }

  .single_price_box:hover {
    transform: scale(1.02);
  }
}

@media (max-width: 550px) {
  .single_price_box {
    width: 80%;
    margin: 30px auto 0px auto;
  }

  .price_basic h1 {
    width: 120px;
    height: 120px;
    border: 16px solid #8490ff1a;
    font-size: 34px;
  }

  .price_amount_and_buy h1 {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .single_price_box {
    width: 95%;
  }

  .price_amount_and_buy h1 {
    font-size: 25px;
  }
}

@media (max-width: 300px) {
  .single_price_box {
    width: 100%;
  }
}
