@media (max-width: 1200px) {
  .container {
    width: 85%;
  }
}

/* todo : Hide scroll bar */

@media (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 0px !important;
  }
}

/* todo : Section gap */

@media (max-width: 750px) {
  .section_gap {
    padding: 80px 0px;
  }
}
@media (max-width: 300px) {
  .section_gap {
    padding: 50px 0px;
  }
}
/* todo : Paragraph tag */

@media (max-width: 550px) {
  p {
    font-size: 13px;
  }
}

/* todo: Strange Part */

@media (max-width: 950px) {
  .strange {
    width: 65%;
  }

  .strange h1 {
    font-size: 34px;
  }
}
@media (max-width: 650px) {
  .strange {
    width: 70%;
  }

  .strange h1 {
    font-size: 32px;
  }
}
@media (max-width: 550px) {
  .strange {
    width: 90%;
  }

  .strange h1 {
    font-size: 30px;
  }
}
@media (max-width: 350px) {
  .strange {
    width: 100%;
  }

  .strange h1 {
    font-size: 26px;
  }
  .strange p {
    width: 95%;
  }
}

/* todo : Section 1 */

@media (max-width: 900px) {
  .sec1Txt h1 {
    font-size: 32px;
    margin: 12px 0px;
  }

  .sec1Img {
    width: 330px;
    height: 420px;
  }
}
@media (max-width: 750px) {
  .sec1 {
    display: block;
  }

  .sec1Txt,
  .sec1Img {
    width: 80%;
    margin: auto;
  }

  .sec1Img {
    width: 348px;
    height: 442px;
  }
}
@media (max-width: 550px) {
  .sec1Txt,
  .sec1Img {
    width: 90%;
    margin: auto;
  }

  .sec1Img {
    width: 320px;
    height: 406px;
  }
  .sec1Txt h1 {
    font-size: 28px;
  }

  .sec1Txt .big_text {
    font-size: 22px;
  }
}
@media (max-width: 400px) {
  .sec1Txt,
  .sec1Img {
    width: 100%;
    margin: auto;
  }

  .sec1Img {
    width: 250px;
    height: 317px;
  }

  .sec1Txt a button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media (max-width: 300px) {
  .sec1Txt h1 {
    font-size: 25px;
  }

  .sec1Txt .big_text {
    font-size: 21px;
  }

  .sec1Img {
    width: 180px;
    height: 228px;
  }
}

/* todo : Section 2 */

@media (max-width: 1000px) {
  .sec2img div {
    width: 100%;
    height: 370px;
  }
}
@media (max-width: 900px) {
  .sec2Txt h1 {
    font-size: 34px;
  }
}

@media (max-width: 850px) {
  .sec2Txt h1 {
    font-size: 30px;
  }
}
@media (max-width: 750px) {
  .sec2 {
    display: block;
  }
  .sec2img,
  .sec2Txt {
    width: 80%;
    margin: auto;
  }

  .sec2Txt {
    padding-top: 25px;
  }
}

@media (max-width: 550px) {
  .sec2img,
  .sec2Txt {
    width: 90%;
  }
  .sec2Txt h1 {
    font-size: 28px;
  }
}

@media (max-width: 475px) {
  .sec2img div {
    height: 315px;
  }
}
@media (max-width: 400px) {
  .sec2img,
  .sec2Txt {
    width: 100%;
  }
  .sec2img div {
    height: 317px;
  }
  .sec2Txt h1 {
    font-size: 26px;
  }
}
@media (max-width: 300px) {
  .sec2img div {
    width: 180px;
    height: 228px;
    margin: auto;
  }
  .sec2Txt h1 {
    font-size: 25px;
  }
}
@media (max-width: 285px) {
  .sec2Txt h1 {
    font-size: 22px;
  }
}

/* todo : Section 3 */

@media (max-width: 1100px) {
  .offer {
    width: 49%;
  }
  .offer p {
    width: 75%;
  }
}
@media (max-width: 800px) {
  .offer {
    width: 50%;
  }
  .offer p {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .offer {
    width: 80%;
    margin: auto;
  }
  .offer p {
    width: 75%;
  }
}
@media (max-width: 550px) {
  .offer {
    width: 80%;
  }
  .offer i {
    font-size: 32px;
  }
  .offer h4 {
    font-size: 20px;
  }
  .offer p {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .offer {
    width: 100%;
  }
  .offer p {
    width: 90%;
  }
}
@media (max-width: 350px) {
  .offer i {
    font-size: 30px;
  }
  .offer h4 {
    font-size: 18px;
  }
}

/* todo: Section 4 */

@media (max-width: 800px) {
  .counter_box {
    width: 50%;
  }

  .counter_box:first-child,
  .counter_box:nth-child(2) {
    margin-bottom: 35px;
  }

  .counter_box h1 {
    font-size: 33px;
  }
}
@media (max-width: 550px) {
  .counter_box {
    width: 100%;
  }
  .counter_box:not(:last-child) {
    margin-bottom: 35px;
  }
  .counter_box h1 {
    font-size: 30px;
  }
}

/* todo : Section 5 */

@media (max-width: 800px) {
  .filter_box {
    width: 48%;
    margin-top: 10px;
  }
  .filter_full_img span i {
    right: 20px;
    top: 15px;
  }
  .filter_full_img img {
    width: 75%;
    height: 75%;
  }
}

@media (max-width: 650px) {
  .filter_btns {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .filter_full_img img {
    width: 70%;
    height: 70%;
  }
  .filter_btns ul li {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .filter_box {
    width: 68%;
  }
  .filter_full_img img {
    width: 75%;
    height: 75%;
  }
  .filter_btns {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .filter_btns {
    width: 100%;
  }
  .filter_btns ul {
    margin: 40px 0px 30px 0px;
  }
}

@media (max-width: 400px) {
  .filter_box {
    width: 80%;
  }
  .filter_full_img img {
    width: 80%;
    height: auto;
  }
  .filter_full_img span i {
    right: 20px;
    top: 45px;
  }
  .filter_btns ul li {
    width: 30%;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
  }
  .filter_btns ul {
    margin: 35px 0px 5px 0px;
    justify-content: center;
  }

  .filter_btns ul li:not(:first-child):hover:after {
    width: 0;
  }
}

@media (max-width: 350px) {
  .filter_box {
    width: 90%;
  }
  .filter_full_img span i {
    top: 50px;
  }
  .filter_full_img img {
    width: 90%;
    height: auto;
  }
}

/* Todo: Section 6 */

@media (max-width: 900px) {
  .swiper_txt p:first-child {
    height: 160px;
  }
}

@media (max-width: 750px) {
  .swiper_txt p:first-child {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  .swiper_img {
    width: 160px !important;
    height: 160px;
  }
  .swiper_txt p:first-child {
    height: 180px;
  }
}

@media (max-width: 619px) {
  .swiper_img {
    width: 180px !important;
    height: 180px;
  }
  .swiper_txt p:first-child {
    height: 120px;
  }

  .swiper_btns {
    display: none;
  }
}

@media (max-width: 500px) {
  .swiper_img {
    width: 160px !important;
    height: 160px;
  }
  .swiper_txt p:first-child {
    height: 140px;
  }

  .swiper_txt h4 {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .swiper_txt p:first-child {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .swiper_img {
    width: 140px !important;
    height: 140px;
  }
  .swiper_txt p:first-child {
    height: 160px;
  }
}

/* todo: Section 7 */

@media (max-width: 1140px) {
  .sec7 div:first-child {
    width: 60%;
  }
  .sec7 div:last-child {
    width: 40%;
  }
}

@media (max-width: 950px) {
  h2 {
    font-size: 42px;
  }
  .sec7 div a {
    font-size: 14px;
    padding: 16px 34px;
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 700px) {
  .sec7 div {
    width: 90% !important;
    margin: auto;
  }
  .sec7 div h2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 450px) {
  .sec7 div {
    width: 100% !important;
    margin: auto;
  }
  .sec7 div h2 {
    margin-bottom: 40px;
  }
  h2 {
    font-size: 32px;
  }
  .sec7 div a {
    font-size: 13px;
    padding: 16px 32px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 350px) {
  h2 {
    font-size: 24px;
  }
  .sec7 div a {
    padding: 14px 26px;
  }
  .sec7 div a i {
    font-size: 18px;
  }
}

@media (max-width: 300px) {
  h2 {
    font-size: 20px;
  }
}

/* todo: Section 8 */

@media (max-width: 1000px) {
  .single_post {
    width: 45%;
  }

  .single_post:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 850px) {
  .single_post {
    width: 48%;
  }

  .single_post:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  .single_post {
    width: 49%;
  }
}

@media (max-width: 650px) {
  .post_wrapper {
    margin-top: 40px;
  }

  .single_post {
    width: 75%;
    margin: auto;
  }
}

@media (max-width: 550px) {
  .single_post {
    width: 85%;
  }
}

@media (max-width: 450px) {
  .single_post {
    width: 95%;
  }

  .post_image {
    height: 210px;
  }

  .post_under_txt h4 {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .single_post {
    width: 95%;
  }

  .post_image {
    height: 190px;
  }

  .admin_image img {
    width: 20px;
    height: 20px;
  }

  .admin_image span {
    font-size: 12px;
    margin-left: 3px;
    top: -3px;
  }

  .post_date {
    font-size: 12px;
  }

  .single_post span {
    font-size: 12px;
  }

  .post_under_txt {
    height: 170px;
  }
}

@media (max-width: 350px) {
  .single_post {
    width: 100%;
  }

  .post_image {
    height: 170px;
  }

  .admin_image {
    width: 50%;
  }

  .handle_post {
    width: 50%;
  }
}

@media (max-width: 290px) {
  .admin_image img {
    width: 15px;
    height: 15px;
  }

  .admin_image span,
  .single_post span,
  .post_date {
    font-size: 11px;
  }

  .admin_image span {
    margin-left: 0;
  }
}

/* todo: Section 9 */

@media (max-width: 1200px) {
  .sigle_brand_logo {
    width: 32%;
  }
}

@media (max-width: 799px) {
  .sigle_brand_logo {
    width: 45%;
  }
}
