/* todo : Section 1 */

#sec1 {
  background: #f9f9ff;
  padding: 20px 0px;
}

.sec1 {
  margin-top: 75px;
}

.sec1Txt,
.sec1Img {
  width: 49%;
}

.sec1Txt h1 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  margin: 15px 0px;
  color: #000;
  font-family: "Cairo Play", cursive;
}
.sec1Txt p {
  margin-bottom: 15px;
}
.sec1Txt a button,
.sec2Txt a button {
  border: none;
  outline: none;
  background: linear-gradient(55deg, #8490ff 0%, #62bdfc 100%);
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 30px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  word-spacing: 3px;
  transition: 0.3s ease-in-out;
}

.sec1Txt a button:hover,
.sec2Txt a button:hover {
  box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

.sec1Img {
  width: 483px;
  height: 613px;
  object-fit: cover;
}

.sec1Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* todo : Section 2 */

#sec2 {
  background: #fff;
}

.sec2img,
.sec2Txt {
  width: 46%;
}

.sec2img div {
  width: 540px;
  height: 384px;
}
.sec2img div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2Txt .big_text {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  margin-left: 4px;
  word-spacing: 4px;
}

.sec2Txt h1 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin: 30px 0px 40px 0px;
}
.sec2Txt p {
  margin: 0px 0px 30px 0px;
  line-height: 26px;
}

/* todo : Section 3 */

.offer_boxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offer {
  padding-top: 60px;
  text-align: center;
}

.offer p {
  margin: auto;
  line-height: 28px;
}

.offer i {
  color: #222;
  font-size: 35px;
  transition: 0.3s ease-in-out;
}

.offer a {
  color: #222;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.offer h4 {
  margin: 15px 0px;
  font-size: 22px;
  font-weight: 600;
}

.offer {
  width: 33.33%;
}

.offer div:hover a,
.offer div:hover i {
  color: #8490ff;
}

/* todo: Section 4 */

#sec4 {
  background: linear-gradient(122deg, #8490ff 0%, #62bdfc 100%);
}

.sec4 {
  flex-wrap: wrap;
}

.counter_box {
  width: 25%;
  margin: auto;
  text-align: center;
  color: #ebebeb;
}

.counter_box h1 {
  font-size: 36px;
}

.counter_box span {
  font-size: 14px;
  text-transform: capitalize;
  margin: 16px 0px;
}

/* todo : Section 5 */

.filter_btns {
  width: 60%;
  margin: auto;
}

.filter_btns ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 60px 0px 50px 0px;
}

.filter_btns ul li {
  width: 20%;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.filter_btns ul li:first-child {
  text-align: center;
}

.filter_btns ul li:not(:first-child):after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: 2px;
  height: 2px;
  background: #8490ff;
  transition: 350ms ease-out;
}

.filter_btns ul li:not(:first-child):hover:after {
  width: calc(100% - 85%);
}

.active_filter {
  color: #8490ff;
  transition: 0.3s;
}

.filter_contents {
  width: 100%;
  display: flex;
  align-items: unset;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter_box {
  width: 32%;
  padding: 0px 0px 25px 0px;
  display: block;
  animation: fade-in 0.5s;
}

.filter_hide {
  display: none;
}

@keyframes fade-in {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

.filter_img {
  width: 100%;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.filter_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.filter_img:after {
  content: "";
  position: absolute;
  background: linear-gradient(122deg, #8490ff 0%, #62bdfc 100%);
  height: calc(100% - 7px);
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.filter_img i {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #e0e0e0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.filter_box:hover .filter_img:after {
  opacity: 0.85;
}

.filter_box:hover .filter_img i {
  opacity: 0.85;
}

.filter_txt {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.filter_txt h4 {
  font-size: 18px;
  margin: 12px 0px;
}

.filter_txt p {
  text-align: center;
}

.filter_full_img {
  position: fixed;
  background: rgba(0, 0, 0, 0.664);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  display: none;
  justify-content: center;
  align-items: center;
}

.filter_full_img span i {
  color: #088cc9;
  position: absolute;
  font-size: 45px;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

.filter_full_img img {
  width: 80%;
  height: 93%;
  object-fit: cover;
  cursor: pointer;
}

.show_filter_img {
  display: flex;
}

/* todo: Section 6 */

#sec6 {
  background: #f9f9ff;
}

.slider_wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.single_swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  padding: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.single_swiper div {
  width: 100%;
}

.swiper_img {
  width: 200px !important;
  height: 200px;
}
.swiper_img img {
  width: 98%;
  height: 98%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #8490ff;
  padding: 3px;
  transition: 0.3s ease-in-out;
}

.single_swiper:hover img {
  transform: scale(1.05);
}

.swiper_txt p:first-child {
  height: 130px;
}

.swiper_txt p,
.swiper_txt h4 {
  display: block;
  width: 100%;
  margin: 20px 0px;
}
.swiper_txt h4 {
  text-align: center;
  font-size: 18px;
  margin: 0;
  font-weight: 500;
  transition: 0.3s;
}

.single_swiper:hover h4 {
  color: #8490ff;
}

.swiper_txt p:last-child {
  text-align: center;
  margin: 15px 0px 0px 0px;
}

.swiper_btns {
  width: 150px;
  height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

.swiper-button-next,
.swiper-button-prev {
  position: unset !important;
  z-index: 2 !important;
  width: 40% !important;
  border-radius: 3px;
  padding: 8px !important;
  height: auto !important;
  background: #fff !important;
  box-shadow: 0px 8px 20px 0 rgb(157 157 157 / 20%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #8490ff;
}

/* todo: Section 7 */

#sec7 {
  background: linear-gradient(122deg, #00000085 0%, #00000085 100%),
    url("../img/bg01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.sec7 {
  flex-wrap: wrap;
}

.sec7 div {
  width: 50%;
}

.sec7 div h2 {
  color: #fff;
}

.sec7 div:last-child {
  text-align: center;
}

.sec7 div a {
  color: #fff;
  background: linear-gradient(55deg, #8490ff 0%, #62bdfc 100%);
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 16px;
  padding: 16px 40px;
  word-spacing: 2px;
  font-weight: 500;
  transition: 0.3s ease-out;
}

.sec7 div a i {
  font-size: 19px;
  position: relative;
  top: 1px;
  transition: 0.3s ease-out;
}

.sec7 div a:hover {
  box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

.sec7 div a:hover i {
  transform: rotate(-56deg);
}

/* todo: Section 8 */

.post_wrapper {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.single_post {
  width: 32%;
  flex-wrap: wrap;
}

.single_post {
  color: #555;
  cursor: pointer;
}

.single_post span {
  font-size: 14px;
}

.post_date {
  font-size: 14px;
}

.single_post i {
  font-size: 14px;
}

.handle_post div:first-child {
  width: 40%;
}

.handle_post div:not(:first-child) {
  width: 30%;
}

.post_image {
  width: 100%;
  height: 243px;
  overflow: hidden;
}

.post_image img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  object-fit: cover;
}

.single_post:hover .post_image img {
  transform: scale(1.1);
}

.post_handles {
  width: 100%;
  border-bottom: 1px solid #eee;
  margin: 5px 0px;
  padding: 0px 0px 5px 0px;
}

.handle_post {
  width: 45%;
}

.admin_image {
  width: 55%;
}

.admin_image img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.admin_image span {
  position: relative;
  top: -6px;
  text-transform: capitalize;
  margin-left: 7px;
  font-size: 14px;
}

.handle_post span {
  top: 0;
}

.post_under_txt {
  margin: 15px 0px 0px 0px;
  height: 125px;
}

.post_under_txt a {
  color: #000;
  transition: 0.3s ease-in-out;
}

.single_post:hover .post_under_txt a {
  color: #5c69e3;
}

.post_under_txt h4 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.post_under_txt p {
  width: 100%;
  line-height: 26px;
}

/* todo: Section 9 */

#sec9 {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

.brands_wrapper {
  width: 100%;
  flex-wrap: wrap;
}

.sigle_brand_logo {
  width: 18%;
  cursor: pointer;
  text-align: center;
}

.sigle_brand_logo img {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
  width: 120px;
  object-fit: cover;
}

.sigle_brand_logo:hover img {
  opacity: 1;
}
