#common_sec {
  background: url("../img/bg02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.common_wrapper h2 {
  font-size: 70px !important;
  text-transform: capitalize;
  font-family: "Cairo Play", cursive;
  word-spacing: 4px;
  color: #000a2d;
}

.common_wrapper div {
  font-size: 18px !important;
  text-transform: capitalize;
  margin-top: 25px;
  color: #ec5b53;
}

.common_wrapper div a {
  color: #ec5b53;
}

/* ! For responsive */

@media (max-width:700px) {
    .common_wrapper h2 {
        font-size: 60px !important;
      }
}

@media (max-width:500px) {
    .common_wrapper h2 {
        font-size: 50px !important;
      }

      .common_wrapper div {
        font-size: 16px !important;
      }
}

@media (max-width:350px) {
    .common_wrapper h2 {
        font-size: 44px !important;
      }
}

@media (max-width:300px) {
    .common_wrapper h2 {
        font-size: 40px !important;
      }
}
