/* Todo: PreLoader */

.loaderWrapper {
    height: 1920vh;
    background: #212121;
    z-index: 100;
    width: 100%;
    position: fixed;
  }
  
  .loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #ffffff;
    background-image: linear-gradient(
      135deg,
      #ffffff 0%,
      #6284ff 34%,
      #ff0000 100%
    );
    border-radius: 50%;
    animation: rotate 3s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .box-1::before {
    content: "";
    position: absolute;
    inset: 15px;
    background: #222;
    border-radius: 50%;
    box-shadow: rgb(17, 17, 26, 0.1) 3px 3px 6px 0px inset,
      rgba(17, 17, 26, 0.1) -3px -3px 6px 1px inset;
  }
  
  .loader div span {
    text-align: center;
    font-size: 22px;
    margin-left: -162px;
    color: #fff;
    font-family: "Cairo Play", cursive;
    letter-spacing: 2px;
    font-weight: 700;
    pointer-events: none;
    animation: text-animate412 3s linear infinite;
  }
  
  @keyframes text-animate412 {
    10% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }