// todo:Section 1

@media (max-width: 700px) {
  #sec1 {
    .sec1_txt {
      width: 85%;
      span {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 550px) {
  #sec1 {
    .sec1_txt {
      width: 90%;
    }
    .music {
      img {
        width: 100px;
      }
    }
  }
}

@media (max-width: 500px) {
  #sec1 {
    .sec1_txt {
      width: 100%;
      span {
        font-size: 16px;
      }
    }

    .music {
      img {
        width: 80px;
      }
    }
  }
}

@media (max-width: 400px) {
  #sec1 {
    .sec1_txt {
      width: 100%;
      span {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 312px) {
  #sec1 {
    .sec1_txt {
      width: 100%;
      span {
        font-size: 14px;
      }
    }
  }
}

// todo: Section 2

@media (max-width: 992px) {
  #sec2 {
    .flex {
      flex-wrap: wrap;
    }

    .sec2_img,
    .sec2_txt {
      width: 55%;
      margin: auto;
    }

    .sec2_txt {
      margin-top: 40px;

      img {
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 650px) {
  #sec2 {
    .sec2_img,
    .sec2_txt {
      width: 60%;
    }
  }
}

@media (max-width: 575px) {
  #sec2 {
    .sec2_txt {
      ul {
        li {
          p {
            width: 100%;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #sec2 {
    .sec2_img,
    .sec2_txt {
      width: 70%;
    }
  }
}

@media (max-width: 450px) {
  #sec2 {
    .sec2_img,
    .sec2_txt {
      width: 85%;
    }
  }
}

@media (max-width: 350px) {
  #sec2 {
    .sec2_img,
    .sec2_txt {
      width: 95%;
    }
  }
}
